valle.egg-info/
__pycache__
path.sh
*.pt
log
egs/*/local
.DS_Store
.vscode

egs/*/data/*
!egs/*/data/.gitkeep
egs/*/exp/*
!egs/*/exp/.gitkeep
egs/*/infer/*
!egs/*/infer/.gitkeep
egs/libritts/prompts/*.png

valle/version.py
*.tar